* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #262626 ;
}
/* Navbar */
#navbar {
    display: flex;
    background: #191919;
    color: azure;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: x-large;
}
#navbar .navbar-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
#navbar .navbar-container ul{
    display: flex;
    margin: 0 auto;
    list-style: none;
    font-weight: bold;
}
.navbar-item a {

    color: azure;
    text-decoration: none;
    padding: 0 20px;
}
/* Fim da Navbar */
/* Body */
.container-title{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: azure;
    padding: 20px;
}
.grupo-pai{
    color: azure;
    border-radius: 30px;
    width: 30rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
}
.grupo{
    margin: 20px;

}
.grupo label{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    display: block;
}
.grupo input{
    padding: 10px;
    transition: all 300ms ease;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.grupo input:hover{
    padding: 11px;
}

.cad-container {
    color: azure;
    border-radius: 30px;
    width: 30rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
}

.e-mail {
    color: azure;
    border-radius: 30px;
    width: 20rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
}

.e-mail label {
    margin-bottom: 10px;
}

.senha {
    color: azure;
    border-radius: 30px;
    width: 20rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;

}

.nome {
    color: azure;
    border-radius: 30px;
    width: 20rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;

}

.nascimento {
    color: azure;
    border-radius: 30px;
    width: 20rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;

}

.telefone {
    color: azure;
    border-radius: 30px;
    width: 20rem;
    padding: 14px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
}

#confirmar {
    background: #0a4a1b;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

#confirmar:hover {
    background: #2a9647;
    cursor: pointer;
}

#excluir {
    background: #521212;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

#excluir:hover {
    background: #991111;
    cursor: pointer;
}

.cad-container p {
    text-align: center;
    margin: 25px;
    
}

